In [1]:
import pandas as pd
import numpy as np

import torch
import torch.optim as optim
import torch.nn as nn
import weighted_transformer as wt
# df = pd.read_csv('data/5528_spec.csv')
# df['created_at_datetime'] = pd.to_datetime(df['created_at'], unit='s', utc=True).dt.tz_convert('Asia/Seoul')

In [2]:
# # Extract the date part only
# df['date'] = df['created_at_datetime'].dt.date

# # Group by date and count occurrences
# date_counts = df.groupby('date').size()

# # Filter dates with fewer than 12 occurrences
# dates_with_less_than_12 = date_counts[date_counts != 12]

# print(dates_with_less_than_12)

# # 날짜에서 12개 미만이거나 초과되는 데이터를 추출하여 삭제
# dates_to_drop = dates_with_less_than_12.index

# # df에서 해당 날짜들에 해당하는 행을 제거
# df_cleaned = df[~df['created_at_datetime'].dt.date.isin(dates_to_drop)]

# # 파일로 저장
# df_cleaned.to_csv('5528_droped_data.csv', index=False)

date
2024-01-10    13
2024-01-28    13
2024-02-03     9
2024-02-04    11
2024-02-14    13
2024-02-26    11
2024-02-27    11
2024-02-28    11
2024-03-06    13
2024-03-14    11
2024-03-22    11
2024-05-28    11
2024-05-29    13
2024-06-04    11
2024-06-25    13
dtype: int64

In [62]:
df = pd.read_csv('data/5528_droped_data.csv')

In [63]:
target = df.loc[:, ['imbalance_health', 'misalignment_health', 'looseness_health', 'bearing_health']]

In [64]:
# 각 열의 문자열을 쉼표로 구분하여 float list로 변환
df['spectrum_x_amp'] = df['spectrum_x_amp'].apply(lambda x: ','.join(map(str, x)))
df['spectrum_y_amp'] = df['spectrum_y_amp'].apply(lambda x: ','.join(map(str, x)))
df['spectrum_z_amp'] = df['spectrum_z_amp'].apply(lambda x: ','.join(map(str, x)))

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   asset_id             2340 non-null   object
 1   created_at           2340 non-null   int64
 2   spectrum_x_amp       2340 non-null   object
 3   spectrum_y_amp       2340 non-null   object
 4   spectrum_z_amp       2340 non-null   object
 5   time                 2340 non-null   object
 6   imbalance_health     2340 non-null   float64
 7   misalignment_health  2340 non-null   float64
 8   looseness_health     2340 non-null   float64
 9   bearing_health       2340 non-null   float64
 10  created_at_datetime  2340 non-null   object
 11  date                 2340 non-null   object
dtypes: float64(4), int64(1), object(7)
memory usage: 219.5+ KB

In [66]:
grouped_df = df.groupby(df.index // 12).apply(lambda x: x.reset_index(drop=True))

In [67]:
normal_df = grouped_df[grouped_df['imbalance_health'] == 1]
error_df = grouped_df[grouped_df['imbalance_health'] != 1]

In [68]:
# normal_df = normal_df.drop(columns=['date', 'asset_id','time','imbalance_health', 'misalignment_health', 'looseness_health', 'bearing_health'])
normal_df = normal_df.drop(columns=['date', 'asset_id','time','misalignment_health', 'looseness_health', 'bearing_health'])

In [69]:
# error_df = error_df.drop(columns=['date','asset_id','time','imbalance_health','misalignment_health', 'looseness_health', 'bearing_health'])
error_df = error_df.drop(columns=['date','asset_id','time','misalignment_health', 'looseness_health', 'bearing_health'])

In [70]:
train_error = pd.concat([error_df.iloc[:60], error_df.iloc[96:-36]]) # 나머지
dev_error = error_df.iloc[60:96] # 3월~4월
test_error = error_df.iloc[-36:] # 7월

In [71]:
train_error

        created_at                                     spectrum_x_amp  \
0   0   1704728798  0,.,0,0,0,1,4,5,4,0,0,5,4,0,7,7,0,1,3,6,5,5,,,...
    1   1704736007  0,.,0,0,0,5,3,7,3,9,4,6,8,0,9,6,2,4,6,8,3,,,0,...
    2   1704743209  0,.,0,0,0,0,7,0,7,8,9,3,6,6,9,0,4,7,3,9,3,3,,,...
    3   1704750416  0,.,0,0,0,0,8,3,3,8,8,9,6,9,4,2,2,9,4,1,6,2,,,...
    4   1704757619  0,.,0,0,0,4,8,4,6,1,6,3,2,9,6,2,8,4,6,1,1,3,,,...
...            ...                                                ...
124 7   1717563685  0,.,0,0,0,2,9,2,7,1,8,7,3,1,8,3,6,2,0,1,7,,,0,...
    8   1717570887  0,.,0,0,0,1,4,7,9,2,0,6,6,4,7,3,8,7,1,5,2,2,,,...
    9   1717578096  0,.,0,0,0,0,2,5,8,8,5,4,3,3,5,2,9,1,7,5,3,4,,,...
    10  1717585299  0,.,0,0,0,0,7,4,4,6,1,9,3,7,2,7,8,0,0,1,9,6,,,...
    11  1717592507  0,.,0,0,0,2,8,3,7,1,9,8,0,2,0,4,0,4,1,2,2,6,,,...

                                           spectrum_y_amp  \
0   0   0,.,0,0,0,0,5,6,3,2,3,0,5,5,6,8,0,7,0,2,2,,,0,...
    1   0,.,0,0,0,1,6,8,6,9,5,5,2,1,7,2,2,5,4,4,3,,,0,...
    2   0,.,0,0,0,0,3,1,5,0,9,4,1,4,6,5,2,1,0,4,3,7,,,...
    3   0,.,0,0,0,1,4,0,1,9,8,0,0,9,6,9,9,8,1,1,6,,,0,...
    4   0,.,0,0,0,3,7,8,8,3,7,1,3,9,7,7,8,3,1,4,7,,,0,...
...                                                   ...
124 7   0,.,0,0,0,3,1,1,8,0,8,8,7,5,5,2,2,2,4,9,5,,,0,...
    8   0,.,0,0,0,2,2,3,3,8,6,6,0,9,5,1,4,8,8,2,6,6,,,...
    9   0,.,0,0,0,2,2,5,0,7,9,3,6,5,9,1,3,4,2,4,3,3,,,...
    10  0,.,0,0,0,2,9,4,8,0,1,2,1,9,8,8,6,2,6,1,7,3,,,...
    11  0,.,0,0,0,4,1,0,2,8,8,8,9,5,7,9,4,6,3,7,5,5,,,...

                                           spectrum_z_amp  imbalance_health  \
0   0   0,.,0,0,0,2,8,8,4,4,6,3,9,1,9,6,5,8,0,6,9,,,0,...          0.924009
    1   0,.,0,0,0,6,8,8,7,8,0,9,4,7,0,5,5,1,8,9,,,0,.,...          0.924009
    2   0,.,0,0,0,3,8,4,9,7,2,3,4,8,9,8,0,5,0,6,5,,,0,...          0.924009
    3   0,.,0,0,0,0,0,9,7,2,5,6,7,1,5,0,8,9,7,6,0,7,5,...          0.924009
    4   0,.,0,0,0,3,6,2,4,6,4,9,3,8,5,6,6,5,0,9,3,5,,,...          0.924009
...                                                   ...               ...
124 7   0,.,0,0,0,3,7,2,3,6,8,8,5,3,8,5,2,6,6,9,7,6,,,...          0.950000
    8   0,.,0,0,0,1,2,8,4,4,4,3,4,5,8,1,5,9,2,9,3,,,0,...          0.950000
    9   0,.,0,0,0,0,1,7,7,3,9,1,8,8,5,1,0,0,1,5,2,9,,,...          0.950000
    10  0,.,0,0,0,1,1,4,8,4,8,9,0,8,1,2,9,2,1,9,7,3,,,...          0.950000
    11  0,.,0,0,0,4,0,0,2,3,8,9,6,9,1,7,1,7,0,5,9,,,0,...          0.950000

              created_at_datetime
0   0   2024-01-09 00:46:38+09:00
    1   2024-01-09 02:46:47+09:00
    2   2024-01-09 04:46:49+09:00
    3   2024-01-09 06:46:56+09:00
    4   2024-01-09 08:46:59+09:00
...                           ...
124 7   2024-06-05 14:01:25+09:00
    8   2024-06-05 16:01:27+09:00
    9   2024-06-05 18:01:36+09:00
    10  2024-06-05 20:01:39+09:00
    11  2024-06-05 22:01:47+09:00

[120 rows x 6 columns]

In [302]:
# normal_df.to_json('normal_df.json', orient='records')

In [303]:
# error_df.to_json('error_df.json', orient='records')

### hist 데이터 기준 날짜 붙이기

In [75]:
normal_df['created_at_datetime']=pd.to_datetime(normal_df['created_at_datetime'])
error_df['created_at_datetime']=pd.to_datetime(error_df['created_at_datetime'])
train_error['created_at_datetime']=pd.to_datetime(error_df['created_at_datetime'])
test_error['created_at_datetime']=pd.to_datetime(error_df['created_at_datetime'])
dev_error['created_at_datetime']=pd.to_datetime(error_df['created_at_datetime'])

C:\Users\user\AppData\Local\Temp\ipykernel_4632\3861721774.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_error['created_at_datetime']=pd.to_datetime(error_df['created_at_datetime'])
C:\Users\user\AppData\Local\Temp\ipykernel_4632\3861721774.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dev_error['created_at_datetime']=pd.to_datetime(error_df['created_at_datetime'])

In [81]:
normal_df['new_date'] = (normal_df['created_at_datetime'] + pd.Timedelta(days=1)).dt.date
error_df['new_date'] = (error_df['created_at_datetime'] + pd.Timedelta(days=1)).dt.date
train_error['new_date'] = (train_error['created_at_datetime'] + pd.Timedelta(days=1)).dt.date
test_error['new_date'] = (test_error['created_at_datetime'] + pd.Timedelta(days=1)).dt.date
dev_error['new_date'] = (dev_error['created_at_datetime'] + pd.Timedelta(days=1)).dt.date

C:\Users\user\AppData\Local\Temp\ipykernel_4632\3820396413.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_error['new_date'] = (test_error['created_at_datetime'] + pd.Timedelta(days=1)).dt.date
C:\Users\user\AppData\Local\Temp\ipykernel_4632\3820396413.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dev_error['new_date'] = (dev_error['created_at_datetime'] + pd.Timedelta(days=1)).dt.date

In [84]:
normal_df_new = normal_df
error_df_new = error_df

train_error_new = train_error
test_error_new = test_error
dev_error_new = dev_error

new_values = normal_df['new_date']
new_values2 = error_df['new_date']
new_values3 = train_error['new_date']
new_values4 = test_error['new_date']
new_values5 = dev_error['new_date']

In [24]:
error_df.iloc(1)

        created_at                                     spectrum_x_amp  \
0   0   1704728798  0,.,0,0,0,1,4,5,4,0,0,5,4,0,7,7,0,1,3,6,5,5,,,...
    1   1704736007  0,.,0,0,0,5,3,7,3,9,4,6,8,0,9,6,2,4,6,8,3,,,0,...
    2   1704743209  0,.,0,0,0,0,7,0,7,8,9,3,6,6,9,0,4,7,3,9,3,3,,,...
    3   1704750416  0,.,0,0,0,0,8,3,3,8,8,9,6,9,4,2,2,9,4,1,6,2,,,...
    4   1704757619  0,.,0,0,0,4,8,4,6,1,6,3,2,9,6,2,8,4,6,1,1,3,,,...
...            ...                                                ...
167 7   1721888000  0,.,0,0,0,1,7,5,9,1,0,1,8,3,1,6,5,3,8,5,7,3,,,...
    8   1721895210  0,.,0,0,0,1,1,4,8,2,3,4,0,6,5,3,9,2,5,5,3,8,,,...
    9   1721902412  0,.,0,0,0,2,5,8,4,3,2,1,1,2,6,6,6,7,4,5,7,,,0,...
    10  1721909621  0,.,0,0,0,1,7,0,7,8,1,7,1,1,1,8,3,2,6,2,3,,,0,...
    11  1721916824  0,.,0,0,0,1,3,5,3,6,0,7,4,3,8,9,3,1,5,8,4,,,0,...

                                           spectrum_y_amp  \
0   0   0,.,0,0,0,0,5,6,3,2,3,0,5,5,6,8,0,7,0,2,2,,,0,...
    1   0,.,0,0,0,1,6,8,6,9,5,5,2,1,7,2,2,5,4,4,3,,,0,...
    2   0,.,0,0,0,0,3,1,5,0,9,4,1,4,6,5,2,1,0,4,3,7,,,...
    3   0,.,0,0,0,1,4,0,1,9,8,0,0,9,6,9,9,8,1,1,6,,,0,...
    4   0,.,0,0,0,3,7,8,8,3,7,1,3,9,7,7,8,3,1,4,7,,,0,...
...                                                   ...
167 7   0,.,0,0,0,0,7,8,8,7,1,9,4,7,8,7,4,0,7,0,3,3,,,...
    8   0,.,0,0,0,1,5,0,8,6,4,5,5,5,4,1,7,2,1,9,9,9,,,...
    9   0,.,0,0,0,2,7,7,2,6,6,7,3,9,4,3,6,3,6,0,1,,,0,...
    10  0,.,0,0,0,4,8,1,0,0,1,1,3,7,0,3,8,5,6,9,9,,,0,...
    11  0,.,0,0,0,1,0,3,3,7,1,9,7,5,9,8,6,9,5,6,0,3,,,...

                                           spectrum_z_amp  \
0   0   0,.,0,0,0,2,8,8,4,4,6,3,9,1,9,6,5,8,0,6,9,,,0,...
    1   0,.,0,0,0,6,8,8,7,8,0,9,4,7,0,5,5,1,8,9,,,0,.,...
    2   0,.,0,0,0,3,8,4,9,7,2,3,4,8,9,8,0,5,0,6,5,,,0,...
    3   0,.,0,0,0,0,0,9,7,2,5,6,7,1,5,0,8,9,7,6,0,7,5,...
    4   0,.,0,0,0,3,6,2,4,6,4,9,3,8,5,6,6,5,0,9,3,5,,,...
...                                                   ...
167 7   0,.,0,0,0,0,2,0,0,0,2,0,1,1,8,9,0,5,2,2,7,7,2,...
    8   0,.,0,0,0,3,3,4,3,4,7,5,8,1,1,9,2,0,8,8,2,,,0,...
    9   0,.,0,0,0,1,3,6,6,7,5,3,5,4,9,7,4,6,7,9,1,3,,,...
    10  0,.,0,0,0,1,0,8,7,0,7,2,7,2,6,4,5,6,0,2,7,,,0,...
    11  0,.,0,0,0,3,1,5,4,7,6,5,7,2,3,5,7,5,6,1,1,,,0,...

             created_at_datetime    new_date
0   0  2024-01-09 00:46:38+09:00  2024-01-10
    1  2024-01-09 02:46:47+09:00  2024-01-10
    2  2024-01-09 04:46:49+09:00  2024-01-10
    3  2024-01-09 06:46:56+09:00  2024-01-10
    4  2024-01-09 08:46:59+09:00  2024-01-10
...                          ...         ...
167 7  2024-07-25 15:13:20+09:00  2024-07-26
    8  2024-07-25 17:13:30+09:00  2024-07-26
    9  2024-07-25 19:13:32+09:00  2024-07-26
    10 2024-07-25 21:13:41+09:00  2024-07-26
    11 2024-07-25 23:13:44+09:00  2024-07-26

[192 rows x 6 columns]

In [85]:
new_values = new_values.reset_index(drop=True)
new_values2 = new_values2.reset_index(drop=True)
new_values3 = new_values2.reset_index(drop=True)
new_values4 = new_values2.reset_index(drop=True)
new_values5 = new_values2.reset_index(drop=True)

new_values = new_values.groupby(new_values.index // 12).first()
new_values2 = new_values2.groupby(new_values2.index // 12).first()
new_values3 = new_values2.groupby(new_values2.index // 12).first()
new_values4 = new_values2.groupby(new_values2.index // 12).first()
new_values5 = new_values2.groupby(new_values2.index // 12).first()

In [87]:
new_index = pd.MultiIndex.from_product([new_values, range(12)],names=['date', 'cnt'])
new_index2 = pd.MultiIndex.from_product([new_values2, range(12)],names=['date', 'cnt'])
new_index3 = pd.MultiIndex.from_product([new_values3, range(12)],names=['date', 'cnt'])
new_index4 = pd.MultiIndex.from_product([new_values4, range(12)],names=['date', 'cnt'])
new_index5 = pd.MultiIndex.from_product([new_values5, range(12)],names=['date', 'cnt'])

In [311]:
normal_df_new.index = new_index
error_df_new.index = new_index2

In [312]:
normal_df_new = normal_df_new.drop(columns=['created_at_datetime','new_date'])
error_df_new = error_df_new.drop(columns=['created_at_datetime','new_date'])

In [313]:
normal_df_new.to_csv("5528_spec_normal.csv", index=True)
error_df_new.to_csv("5528_spec_error.csv", index=True)

In [2]:
df = pd.read_csv("5528_spec_normal.csv", header=[0], index_col=[0,1])

In [13]:
# 병합할 리스트 열 목록
columns_to_merge = ['spectrum_x_amp', 'spectrum_y_amp','spectrum_z_amp']

# 각 행의 리스트를 병합하여 하나의 벡터로 만들기
df['spectrum_x_amp'] = df['spectrum_x_amp'].apply(lambda x: [float(i) for i in x.split(',')])
df['spectrum_y_amp'] = df['spectrum_y_amp'].apply(lambda x: [float(i) for i in x.split(',')])
df['spectrum_z_amp'] = df['spectrum_z_amp'].apply(lambda x: [float(i) for i in x.split(',')])

new_df = df[columns_to_merge].apply(lambda row: sum(row, []), axis=1)
result = new_df.groupby(level=0).apply(lambda x: [item for sublist in x for item in sublist])

In [14]:
from csv_to_tensor import PostProcessing

In [16]:
normal = PostProcessing("5528_spec_normal.csv")
error = PostProcessing("5528_spec_error.csv")